/* Checkmarks*/
.checkmarks {
  padding-top: 100px;
}
.checkmarks-heading {
  margin: auto;
}

.checkmarks .grid h3 {
  font-size: 35px;
}

.checkmarks .grid p {
  font-size: 20px;
  font-weight: bold;
  height: 90px;
}
.fa-check {
  color: #4bb543;
}

.checkmark-item-grid {
  min-height: 245px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.checkmark-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.checkmark-top div:first-child {
  margin-left: 50px;
}
.checkmark-top span:last-child {
  margin-right: 50px;
}

@media (max-width: 825px) {
  .grid {
    grid-template-rows: 1fr;
    grid-template-columns: 2fr;
  }
}
