.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  font-size: 13px;
  border-bottom: rgb(209, 205, 205) 1px solid;
}

.main-nav .logo {
  margin-left: 20px;
  width: 170px;
}

.main-nav ul {
  display: flex;
}

.main-nav ul li {
  padding: 0 10px;
}

.main-nav ul li a:hover {
  opacity: 0.75;
  color: #262626;
}
.main-nav ul li a.active {
  color: #008cc6;
}

.main-nav ul.main-menu {
  flex: 1;
  display: flex;
  justify-content: right;
}
.main-nav ul.right-menu {
  display: none;
}
.nav-links.mobile {
  display: none;
}
/* Tablets and under */
@media (max-width: 768px) {
  .nav-links.mobile {
    display: inline;
  }
  .main-nav .logo {
    padding-left: 5%;
  }
  .container {
    width: 100%;
  }

  .main-nav .btn-when-big {
    display: none;
  }

  /* Displays the nav bar for mobile mode */
  .main-nav ul.right-menu {
    display: flex;
  }
  .ham-menu {
    background-color: #008cc6;
  }
  /* Nav bar points, in mobile mode */
  .main-nav ul.right-menu li {
    border-left: rgb(209, 205, 205) 1px solid;
    display: inline;
    padding-top: 15px;
    width: 50px;
    height: 100%;
    font-weight: 500;
  }
  /* Drawer hiden */
  .main-nav ul.main-menu {
    display: block;
    position: absolute;
    top: 60px;
    right: 0;
    background: #f2f2f2;
    width: 500px;
    max-width: 100%;
    height: 100%;
    border-right: #ccc 1px solid;
    opacity: 0.9;
    transform: translateX(800px);
    transition: all 0.4s ease-in-out;
  }
  .main-nav ul.main-menu.show {
    transform: translateX(0px);
    z-index: 300;
  }

  /* menu points in drawer */
  .main-nav ul.main-menu li {
    padding: 10px;
    border-bottom: #ccc solid 1px;
    font-size: 14px;
  }
  .main-nav ul.main-menu li:last-child {
    border-bottom: 0;
  }
}

/* Mobile */
@media (max-width: 500px) {
  .main-nav ul.main-menu {
    width: 100%;
  }
}
