.profile-card {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  max-width: 30%;
  margin: 15px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.profile-header{
    padding-left: 10px;
}

.profile-header img{
  width: 150px;
  padding-right: 10px;
}

.profile-card-body{
    margin-left: 30px;
}

.profile-card-body p {
  margin: 0px;
}

.profile-card-body a:hover{
    cursor: pointer;
}
