
.collaboration-logos-list {
  display: flex;
  justify-content: space-around;
}
.collaboration-logos-list li {
  width: 223px;
}

.logos {
  margin: 30px 0px;
}

@media (max-width: 768px) {
  .collaborations-section .grid {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }
}
